HELP.md
.gradle
build/
build.
build-cache/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/



build.gradle.kts

gradle.properties

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

gradlew

gradlew.bat

settings.gradle.kts

src/main/kotlin/test/test1/README.md

src/main/kotlin/test/test1/Solution.kt

src/main/kotlin/test/test2/README.md

src/main/kotlin/test/test2/Solution.kt

src/main/kotlin/test/test3/README.md

src/main/kotlin/test/test3/Solution.kt

src/main/kotlin/test/test4/README.md

src/main/kotlin/test/test4/Solution.kt
