HELP.md
.gradle
build/
build.
build-cache/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/



build.gradle.kts

gradle.properties

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

gradlew

gradlew.bat

settings.gradle.kts

# Ignore Gradle build output directory
build
/src/main/kotlin/test/
